.addTaskWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
}

input {
  border-radius: 8px;
  border: 1px solid #0d0d0d;
  width: 451px;
  padding: 16px;
  font-size: 1.6rem;
  color: #fff;
  margin-top: -1.5rem;
  background: #1a1a1a;
}

span > img {
  margin-left: 0.5rem;
}

.buttonCreate {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #1e6f9f;
  padding: 16px;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #fff;

  cursor: pointer;
}
